.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px; /* Ajusta según sea necesario */
  }
  
  .header h1 {
    width: 60%; /* Ocupa el 60% del ancho */
    font-size: 4vw; /* Tamaño de letra más grande, ajusta según sea necesario */
    margin: 0; /* Elimina el margen predeterminado del h1 */
  }


  .header button {
    background-color: gray; /* Fondo gris para el botón */
    color: rgb(0, 0, 0); /* Texto blanco para contrastar */
    padding: 12px 24px; /* Aumenta el tamaño del botón ajustando el padding */
    border: none;
    cursor: pointer;
    border-radius: 50px; /* Esquinas redondeadas, ajusta según sea necesario */
    font-size: 1.5vw; 
    font-family: 'Lilita One', cursive;
  }