/* ProgressBar.css */

.progress-bar {
    width: 50%; /* Ancho máximo del 50% */
    margin: 5vw auto; /* Centra el elemento horizontalmente */
    position: relative; /* Para posicionar el porcentaje encima de la barra */
    border: 2px solid #000; /* Contorno negro */
    border-radius: 50px;
  }
  
  .progress-bar-inner {
    background-color: #ddd; /* Color de fondo de la barra de progreso */
    height: 50px; /* Ajusta la altura según tus preferencias */
    border-radius: 50px; /* Bordes redondeados */
    
  }
  
  .progress-bar-progress {
    background-color: #000; /* Color del progreso (en este caso, negro) */
    height: 100%; /* La barra de progreso llena completamente la altura de la barra interna */
    border-radius: 15px; /* Bordes redondeados */

  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000; /* Color del texto del porcentaje */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según tus preferencias */
    font-size: 23px;
  }
  