/* TaskList.css (o tu archivo de estilos) */

.task-input-container {
    text-align: center; /* Centra el contenido del contenedor */
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  .task-input {
    width: 60%; /* Ancho del 80% para centrarlo y hacerlo más grande */
    padding: 10px; /* Ajusta según sea necesario */
    font-size: 18px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .task-input::placeholder {
    color: #888; /* Color del texto de marcador de posición */
  }
  
  .task-input-label {
    font-size: 16px; /* Tamaño de fuente para el texto de base */
    color: #555; /* Color del texto de base */
  }
  