body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #361313;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav li {
    margin: 0 20px;
}

.nav a {
    text-decoration: none;
    color: #3b1414;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(88, 24, 24, 0.2);
}

.article {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #361313;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* Estilos para pantalla pequeña (menos de 768px de ancho) */
@media (max-width: 808px) {

    .main-content {
        grid-template-columns: 1fr;
    }
    .nav ul {
        display: none; /* Oculta el menú normal */
    }

    .menu-toggle {
        display: block; /* Muestra el botón de desplegable */
    }

    /* Estilos para el menú desplegable cuando el input esté "checked" */
    #menu-toggle:checked ~ .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #361313;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
}