@import 'scss';

.caja-roja {
    width: 100px;
    height: 100px;
    background-color: roja;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: 1px solid #b30000;
    text-align: center;
    color: white;
  }
  
  .caja-verde {
    width: 100px;
    height: 100px;
    background-color: verde;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: 1px solid #006400;
    text-align: center;
    color: black;
  }
  
  .caja-azul {
    width: 100px;
    height: 100px;
    background-color: azul;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: 1px solid #0000b3;
    text-align: center;
    color: black;
  }
  
  .caja-roja:hover {
    background-color: #990000;
  }
  
  .caja-verde:hover {
    background-color: #004d00;
  }
  
  .caja-azul:hover {
    background-color: #000099;
  }
