// VARIABLES en Sass
$base-font-size: 16px;
$font-scale-factor: 1.2;
$font-color: #333;

// Estilos generales para el body
body {
  font-family: Arial, sans-serif;
  font-size: $base-font-size;
  color: $font-color;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

// Estilos para los encabezados
h1 {
  font-size: $base-font-size * 2; // Usando operadores para escalar el tamaño de fuente
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: $base-font-size * $font-scale-factor; // Usando operadores y variables
  margin-bottom: 8px;
}

// Estilos para los párrafos
p {
  font-size: $base-font-size;
  line-height: $base-font-size * 1.5; // Usando operadores para establecer la altura de línea
}

// Estilos para los botones
.button {
  padding: 10px 20px;
  font-size: $base-font-size;
  color: white;
  background-color: #3498db;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken(#3498db, 10%); // Usando una función de Sass
  }

  &.secondary {
    background-color: #e74c3c;
    font-size: #{$base-font-size * 1.1}; // INTERPOLACIÓN para calcular el tamaño de fuente
  }
}

  